<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An icon set">
    <meta name="author" content="Micah Cooper">

    <title>Micon</title>
    <link rel="stylesheet" href="https://www.herokucdn.com/purple3/latest/purple3.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="bg-gradient-primary white normal pa3">
        <h1> Micon </h1>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
